.App {
    text-align: center;
  }
  
  header, footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    
    width: 70%;
    height: auto;
  }
  
  .product-card h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
    margin: 0.5em 0;
  }
  
  .product-card p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.5em 0;
  }
  
  .details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .details-button:hover {
    background-color: #0056b3;
  }
  
  .product-detail {
    padding: 20px;
  }